@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "~bootstrap/scss/bootstrap";


html,
body {
    height : 100%;
    margin : 0;
    padding: 0;
}


///zmienne globalne 
$mainFontColor: #FFF7E9;
$primaryColor: #2F4858;
$secondaryColor: #2F61CB;
$thirdColor1: #d2b795;
$thirdColor: rgb(141, 124, 31);
$forthColor: #3C2B16;
$fontColor1: rgb(233, 235, 233);

$color1: #DBB7BE;
$color2: #B298A9;
$color3: #596177;
$color4: #2F4858;
$color5: #867C93;


//background gradnient
$backGrandColor1: #FFD9D2;
$backGrandColor2: #DBB7BE;
$backGrandColor3: #3A3937;

$tablesColor: #B298A9;
    

.navbar{
    background-color: $color1;
    font-size: 1rem;
    //letter-spacing: 0.1rem;
    font-weight: bold;
    padding-bottom: 0.1rem;
    padding-left: 0.2rem;
    top: 0;
    display: flex;
    justify-content: space-between;
    
    
    
    
  }

      .navbar-brand > img{
        height: 3rem;
       // position: relative;
        
      }
      
      .navbar-nav li{
        padding-right: 0.4rem;
        width: auto;
        color: $color4;
        
      }
      .navbar .navbar-nav .nav-link{
        padding-top: 0.4rem;
        color: $color4;
        
      }
      
      .navbar .navbar-nav .nav-link:hover{
        color: $color2;
        cursor: pointer;
        display: flex;
        justify-content: space-between;

        &:active{
            color: $color5;
        }
      }

      .navbar-toggler{
        background-color: $color4;
        position: relative;
        
        &:active{
          color: $color5;
        }
      }

    //   .divWelcome{
    //     color: $mainFontColor;
    //     position: relative;
      

    //   }
      .divWelcome{
        color: $color3;
        position: inherit;
       // width: 25%;
        display: flex;
        align-items: center;
        justify-content:space-between;
        right: 8vw;
        
        
       
        .divLogout{
            display: flex;
            align-items:end;
            justify-content: space-between;
            color: $color5;

            i{
              color: $color4;
            }

        }
        .logInButton{
          color: $color4;
        }
        .logInButton:hover{
          cursor: pointer;
          color: $color2;

          &:active{
            color: $color5;
          }


        }
        .avatar{
            display: flex;
            justify-content: left;
            align-items: center;
            margin-right: 0.5rem;

        }


      }

body {
    //background : linear-gradient(50deg, $thirdColor1 64%, $primaryColor 80%, $forthColor 100%) no-repeat fixed;
    background : linear-gradient(70deg, $backGrandColor1 54%, $backGrandColor2 80%, $backGrandColor3 100%) no-repeat fixed;
   //background-image: url('./assets/mainPage/background-theme.jpg');
    background-repeat: no-repeat;
   // background-size: cover;
    font-family: 'Poppins', 'Arial', sans-serif;
    padding    : 2rem;
}


nav {
    button,
    .btn {
        background   : transparent;
        border       : 0;
        border-radius: 0;
        box-shadow   : none !important;
        font-size    : 1rem;
        outline      : none;
        padding      : 0.5rem 1rem;
        color: $mainFontColor;
        cursor: pointer;

        &:active,
        &:focus,
        &:hover {
            background: transparent;
            
        }
    }

    .btn.btn-active {
        background-color: #2F4858;
        text-decoration : underline;
    }
}
td,tr,th{
    color:#000000;
  
    width: 70vw;
    .table-footer{
      border-top: 4px solid black;
    }
}

.popover{
  max-width: 50%;
  margin-top: 0px;
}
.popover-container{
  
  padding: 0 0 0 0;
}

main {
  button {
    border-radius: 10%;
  }
  .btn,
  .btn-primary{
    background-color: $color3;
    border-color: black;
    border-radius: 10%;
  }
  .btn-primary:hover{
    background-color: $color1;
    border-color: black;
    &:active{
      background-color: $color5;
      
    }
  }
    .btn-secondary:hover{
      background-color: $color1;
      border-color: black;
      &:active{
        background-color: $color5;
        
      }
  }
  
  
.authInfoPanel, .regInfoPanel{
    color: red;
}
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 2rem 0;
        color: $color4;
    }

    p {
        margin: 1rem 0;
    }

    ul {
        list-style: none;
        padding   : 0;

        li {
            background-color: $tablesColor;
            box-shadow      : pink 0 2px 8px 2px;
            color           : $backGrandColor1;
            padding         : 1rem;

            footer {
                display        : flex;
                align-items    : center;
                justify-content: flex-end;

                &>*+* {
                    margin-left: 1rem;
                }
            }

            button,
            .btn {
                background: transparent;
                border    : 1px solid #0e0c0c;
                color     : #090808;
                border-radius: 15%;
            }
            .btn-treat{
                background-color: transparent;
                color: #090808;
            }
        }

        li+li {
            margin-top: 2rem;
        }
    }
    .registrationPanel{
        margin: 0 auto;
        
    }
    .logForm{
        color: $fontColor1;
    }
            //carusel
            .imagesBilboard{
              background-size: contain;
              background-repeat: no-repeat;
              width: 100%;
              height: 40%;
          }
          .carusel-item{
            height: 50%;
          }
          .carousel-caption{
              background-color: $tablesColor; opacity: 0.8;
              color: $color4;
              box-shadow: $color3 0 1px 1px 3px; 
              position: absolute;
              top: 0;
              bottom: auto;
              border-radius: 35%;

              h5{
                color: #000000;
                text-decoration: underline;
              }
          }
    div {

        h1,h2,h3,h4{
          margin: 2rem 0;
          color: $color4;
        }
       
   
        footer {
            margin-top: 3rem;
        }
        form {
            padding: 0 10% 0 10%;
            input{
                margin: 0 auto;
                height: 2.1rem;
            }
        }
        
        .progress{
          height: 30%;
          width: 40%;
          
      }
      .progress-bar{
          width: 25%;
      }


        
        .home-inner{
            //background-image: url('./assets/mainPage/background-theme.jpg');
            //background-color: #00195f;
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 0;
            padding-left: 0;
          }
          .caption {
            width: 100%;
            color: $color4;
            position: absolute;
            top: 30%;
            z-index: 1;
            margin: 0 auto;
            background-color: $color3 opacity($color: #000000);

          }
        //course
        // #course{
        //     background-color: lightgray;
          
        //   }

        //features
          .jumbotron{
            color: black;
            padding-bottom: 0;
            margin-bottom: 0;
          }
          .jumbotron ul li {
            
          }
          .line{
            margin-bottom: 1;
            
            
          }
          .features-list{
            list-style: none;
          }
          .resource{
            i{
            color: $tablesColor;
            //box-shadow: #595958 2px 2px 8px 2px;
            box-shadow: black 2px 2px;

          }
          }
          

        //resources
        //clients
        .client {
            width: 90%;
            border-radius: 20%;
            min-width: 15vw; /* 15% szerokości viewportu */
            
          }
          
          .blockquote {
            width: 90%;
            p{
               text-align: left;
            }
           
          }
          @media all and (max-width:576px){
            .client {
              width: 50%;
            }
          }
          @media all and (min-width: 768px) and (max-width: 992px) {
            .client {
              width: 50%;
            }
          }
          //contact
          footer,
            footer a {
            color: darkgray;
            }

            footer a:hover {
            color: black;
            }

            footer img{
            height: 2.5rem;
            margin: 0.5rem 0;
            }

            
        

    }
    article {
        $bg-color-1 : $tablesColor ;
        $bg-color-2: $color2;
        
        // box-shadow: #eb8212 0 2px 8px 2px;
        // background-color: #f39b04;
        background: repeating-linear-gradient(45deg, $bg-color-1, $bg-color-1 10px, $bg-color-2 10px, $bg-color-2 20px);
        box-shadow: #00576e 0 2px 8px 2px;
        margin    : 2em 1em;
        padding   : 1rem;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            background-color: $color4;
            box-shadow      : #5b3916 0 2px 8px 2px;
            //background: #ddc47d;
            color     : rgb(202, 193, 193);
            margin    : 0;
            padding   : 1rem 0.5rem;
        }
        footer {
            display        : flex;
            align-items    : center;
            justify-content: flex-end;

            &>*+* {
                margin-left: 1rem;
            }
            
        }
        button,
        .btn {
            background: transparent;
            border    : 1px solid #0e0c0c;
            color     : #090808;
            border-radius: 15%;
        }
    }

    header{
      ///Booking///
      h1,h2,h3{
        margin: 2rem 0;
        color: black;
      }


    }
}
///Booking////
.booking-header{
  margin: 3rem auto;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: center;
}
.booking-main{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;


  button{
    border-radius: 10px;
    margin-top: 2vw;
    color: white;
    margin-left: 4vw;
    margin-right: 0;
  }

  .booking-section-data{
    height: auto;
    width: 60%;
    .booking-div-datepicker{
        margin-top: 0;        

      .date-picker-form{
        input{
          height:50%;
          text-align: center;
          border-radius: 10px;
        }

      }
    }
    .booking-div-summary{
      padding-left: 2vw;
      padding-right: 2vw;
      div{
        padding-left: 0vw;
      }
    }
    .booking-div-buttons{
      display: flex;
      justify-content: space-between;
      padding-left: 2vw;
      padding-right: 6vw;
    }


  }
  .booking-section-img{
    height: auto;
    width: 45%;
    margin: 0 0 0 0;
    padding-top: 0;
    img{
      height: 100%;
      width: 100%;
      object-fit: contain;
      padding: 0 0 0 0;
      border:0;
    }
  }
  
}
form{
  width: 70vw;
  label{
    color: black;
  }
  input{
    border-radius: 20%;
    width: 50%;
   
  }
}
.input-group {
  width: 300px;
}

/* Style the input */


/* Style the button */
.btn {
  border-radius: 0;
}

